<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="front">
            <h1>Registration</h1>

            <span>Name: </span>
            <input type="text" placeholder="name" required><br><br>

            <span>Password: </span>
            <input type="password" placeholder="password" required><br><br>

            <button type="submit">Login</button>
        </div>
    </body>
</html>