<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <button onclick="window.location.href = '/add-product';">Register</button>
    <h1>Menu</h1>
    {% for menu in menus %}
        <div>
            <h2>{{ menu.name }}</h2>
            <p>{{ menu.description }}</p>
            <img src="{{ menu.image_url }}" alt="{{ menu.name }}" style="width:200px;height:auto;">
            <p>Price: ${{ menu.price }}</p>
        </div>
        <hr>
    {% endfor %}
</body>
</html>